
<div class="row">

      <h1>New item</h1>
      <form (ngSubmit)="oncreate(form)" #form="ngForm">
          <div class="form-group">
              <label for="itemname" >ItemName</label>
              <input type="itemname" name=itemname class="form-control" ngModel>
          </div>
          <div class="form-group">
              <label for="itemprice" > Itemprice</label>
              <input type="number" name=itemprice class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="itemdescription" > Itemdescription</label>
            <input type="itemdescription" name=itemdescription class="form-control" ngModel>
        </div>
          <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block">Create and Save</button>
        <div style="color: red"> {{itemsaveresponse}}</div>

          </div>
        </form>
  </div>


